.hidden {
  display: none !important;
}
.visible {
  display: inherit;
}
/** Desktop */
@media (min-width: 1025px) {
  .hidden-desktop {
    display: none !important;
  }
}
/** tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .hidden-desktop {
    display: inherit;
  }
  .hidden-tablet {
    display: none !important;
  }
}
/** phone */
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit;
  }
  .hidden-phone {
    display: none !important;
  }
}
html,
body,
div,
span,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
}
html {
  height: 100%;
}
body {
  /*background-color: #f0f0f0;*/
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  /* wei's cahnge */
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url(img/bg_white_transparent.png), linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0, rgba(0, 124, 192, 0.2) 100%);
  background-attachment: fixed;
}
.perspectiveStoreWrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.perspectiveStore {
  width: 80%;
  max-width: 1086px;
  min-width: 350px;
  margin: 0 auto;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.perspectiveStore.hidden {
  left: calc(-100%);
  right: calc(100%);
}
.perspectiveStore .loadingIndicatorSVG {
  width: 3em;
  height: 3em;
  margin-top: 63px;
}
.perspectiveStore .sapkachel .loadingIndicatorSVG {
  width: 2em;
  height: 2em;
}
.perspectivestoreSearch {
  width: calc(100% - 10px);
  display: block;
  height: 30px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  margin: 5px;
  box-sizing: border-box;
}
.perspectiveStoreTile {
  position: relative;
  width: 300px;
  height: 200px;
  display: inline-block;
}
.perspectivestoreContent {
  width: 100%;
}
.perspectivestoreTileContainer {
  margin: 0 auto;
}
.perspectiveStoreTileOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.background {
  height: 100%;
}
.sap-workarea {
  padding-left: 40px;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1024px), (max-width: 767px) {
  .sap-workarea .sap-workareaitem {
    min-height: 320px;
  }
}
.facetPaneShadow {
  /*width: calc(315px);*/
  /*    background-color:red;
    background: url(/sap/bc/ina/uitoolkit/js/widgets/workarea/img/Canvas_shadow_left.png);
    background-repeat: no-repeat;
    background-position: top left;*/
  margin-top: 10px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: top;
  width: 360px;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1024px), (max-width: 767px) {
  .facetPaneShadow {
    width: 100%;
    padding-right: 60px;
  }
}
.facetPane,
.contentPane {
  padding: 0;
  /*border-top: 1px solid #ffffff;*/
  /*background-color:#f0f0f0;*/
  /*background-color: white;*/
}
.facetPane {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  /*     border:1px solid blue; */
}
/* div#facetPane > * { */
/*     display:none; */
/*     } */
.searchnfilterframe {
  margin-right: 90px;
  background-color: #f7f7f7;
  margin-top: 20px;
}
@media (min-width: 768px) and (max-width: 1024px), (max-width: 767px) {
  .searchnfilterframe {
    margin-right: 60px;
  }
}
*:focus {
  outline: 0 !important;
}
.searchnfilterframe .sap-inainternalfilterbox > div {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #dedede;
}
.contentPaneShadow {
  display: inline-block;
  overflow: hidden;
  /* see http://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width */
  margin-top: 10px;
  height: 721px;
  /*background: url(/sap/bc/ina/uitoolkit/js/widgets/workarea/img/Canvas_shadow_right_2.png);*/
  /*    background-repeat: no-repeat;
    background-position: top right;*/
  /*     border: 1px dashed red; */
  width: calc(100% - 785px);
}
@media (min-width: 768px) and (max-width: 1024px), (max-width: 767px) {
  .contentPaneShadow {
    width: 100%;
    box-sizing: border-box;
    padding-right: 60px;
    margin-top: 0;
  }
}
.contentPane {
  padding-left: 0;
  margin-right: 33px;
  /* +25px for #contentPaneShadow background img width */
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1024px), (max-width: 767px) {
  .contentPane {
    margin-right: 0;
  }
}
/*
div.facetColumnContainer {
    overflow-y:scroll;
    height:810px;
}
*/
.facetColumn,
.lastFacetColumn {
  float: left;
  width: 100%;
}
.facetColumn > div,
.lastFacetColumn > div {
  margin-bottom: 10px;
}
/**************/
/*** Others ***/
/**************/
.clear {
  clear: both;
  height: 0;
  width: 100%;
}
/**********************************/
/*** Individual Databox Content ***/
/**********************************/
.sap-workareaitem-centered .sap-workareaitem-header {
  margin-left: 0;
}
.sap-workareaitem-centered .sap-workareaitem-content {
  height: 600px;
}
.sap-workareaitem-uncentered {
  width: 100%;
}
.sap-workareaitem-uncentered .sap-resultlist {
  height: 175px;
}
@media (min-width: 768px) and (max-width: 1024px), (max-width: 767px) {
  .sap-workareaitem-uncentered .sap-resultlist {
    height: 280px;
  }
}
.sap-workareaitem-uncentered .sap-resultmap {
  height: 175px;
}
@media (min-width: 768px) and (max-width: 1024px), (max-width: 767px) {
  .sap-workareaitem-uncentered .sap-resultmap {
    height: 280px;
  }
}
.sap-workareaitem-uncentered .sap-chart {
  height: 180px;
}
@media (min-width: 768px) and (max-width: 1024px), (max-width: 767px) {
  .sap-workareaitem-uncentered .sap-chart {
    height: 280px;
  }
}
.sap-workarea {
  padding-left: 30px;
}
.sap-workarea .sap-resultlist .sap-resultlist-items > .sap-resultlist-item b {
  color: inherit;
  font-weight: inherit;
  background-color: #ffd300;
}
.product_detail b {
  color: inherit;
  font-weight: inherit;
  background-color: #ffd300;
}
