<div data-template class="tweet">
    <table>
        <tr>
        <td>
        <table class="tweet_info">
        <tr>
            <td>
                <div class="tweet_img">
                    <img src="" data-src="{{user_profile_image_url.value}}"/>
                </div>
            </td>
            </tr>
            </table>
            </td>
            <td>
                       <table class="tweet_content">
                       <tr>
			               <td>
			                  <span class="tweet_title"><a href="https://twitter.com/{{user_screen_name.value}}" rel="nofollow">@{{user_screen_name.value}}</a></span> <span class="{{sentiment.value}} font_bold">mentioned</span> <span class="title_text font_bold">{{title.value}}</span>
			               </td>
			            </tr>
                          <tr>
                             <td class="attributeValue font_bold">
                                {{created_at_str.value}} <a href="{{source_url.value}}" rel="nofollow">{{tweet_source.value}}</a>
                             </td>
                           </tr>   
                           <tr>
                             <td class="attributeValue tweet_text">
                                {{text_head.value}}<span class="{{sentiment.value}} font_bold">{{token.value}}</span>{{text_tail.value}}
                             </td>
                           </tr>                                                   
                        </table>
                     </td>
                     <td>
			        <table class="tweet_info">
			        <tr>
			            <td>
			                <div class="poster">
			                    <img src="" data-src="{{poster.value}}"/>
			                </div>
			            </td>
			            </tr>
			            </table>
			            </td>
                   </tr>
                </table>
</div>
<div data-template-fallback>Sorry, JavaScript required!</div>